<!DOCTYPE html>
<html>
<head>
	<title>æChat</title>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<script src='../../socket.io/socket.io.js'></script>
	<script src='//code.jquery.com/jquery-1.10.1.min.js'></script>
	<script src='//code.jquery.com/ui/1.12.1/jquery-ui.min.js'></script>
	<link rel='stylesheet' type='text/css' href='https://code.jquery.com/ui/1.12.1/themes/dark-hive/jquery-ui.css'>
	<link href='./index.css' rel='stylesheet' type='text/css'>
</head>
<body>

	<div id='username_modal' class='dialog'>
		Welcome to æChat (v1.2)
		<form>
			<fieldset>
				<input type='text' placeholder='Username' id='username_in'>
			</fieldset>
		</form>
	</div>

	<div id='right'>
		<ul id='users'>
		</ul>
	</div>

	<div id='left'>
		<ul id='messages'></ul>
	</div>

	<div id='typingbox'>
		<ul>
			<li id='typing'>The chat is quiet...</li>
		</ul>
	</div>
	<form action='/' method='POST' id='chatForm'>
		<input id='inp' autocomplete='off' autofocus='on' oninput='isTyping()' placeholder='Message...' />
	</form>

<script>

var socket = io.connect();

// submit text message without reload/refresh the page
$('form').submit(function(e){
	e.preventDefault(); // prevents page reloading

	// gets message, forwards if not blank
	let m = $('#inp').val();
	if (m !== '') {
		m = urlify(m);
		socket.emit('chat_message', m); 
		socket.emit('no_typing', username);
	};

	$('#inp').val('');
	return false;
});

// append the chat text message
socket.on('chat_message', function(msg){
	$('#messages').append($('<li>').html(msg));
	$('#messages').scrollTop($('#messages')[0].scrollHeight);
});

// append text if someone is online
socket.on('is_online', function(username) {
	$('#messages').append($('<li>').html(username).addClass('sysmsg'));
});

socket.on('upd_users', function(usr, clr) {
	$('#users').empty();
	usr.forEach(n => $('#users').append($('<li>').html(n).css('color', clr[usr.indexOf(n)])));
});

socket.on('upd_typing', function(list) {
	if (list.length === 0) {
		$('#typing').html('Nobody is typing...');
	} else if (list.length === 1) {
		$('#typing').html('<b>' + list[0] + '</b> is typing...');
	} else if (list.length === 2) {
		$('#typing').html('<b>' + list[0] + '</b> and <b>' + list [1] + '</b> are typing...');
	} else {
		let str = '';
		for (let i=0; i<list.length-1; i++) {
			str += '<b>' + list[i] + '</b>, ';
		};
		str += 'and <b>' + list[list.length-1] + '</b>';
		$('#typing').html(str + ' are typing...');
	};
});



// ASK USERNAME
let username = 'error ae:100';
$(function () {$('#username_modal').dialog({
	title: 'æChat',
	show: true,
	modal: true,
	resizable: false,
	//autoOpen: false,
	buttons: {
		'Join the Chat': function() {
			
			username = $('#username_in').val();
			if (username === null || username === undefined || username === '') {
				alert('Please include a username.');
				location.reload();
			}
			else if (username.includes(' ')) {
				alert('Do not include spaces in your username.');
				location.reload();
			};

			$(this).dialog('close');
			socket.emit('username', username);

		}
	}
});});



function isTyping() {
	if ($('#inp').val() === '') {
		socket.emit('no_typing', username);
	} else {
		socket.emit('is_typing', username);
	};
};

function urlify(text) {
	var urlRegex = /(https?:\/\/[^\s]+)/g;
	return text.replace(urlRegex, function(url) {
		return '<a href="' + url + '" target="blank">' + url + '</a>';
	});
};

setInterval( function(){
	$('#inp').focus();
});


</script>
</body>
</html>